<table align=center>
  <tr>

    <%= form_for(:session, url: login_path) do |f| %>
        <td><%= f.label :email %>  </td>
        <td><%= f.email_field :email, class: 'form-control' %></td>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password, class: 'form-control' %></td>
        <td><%= f.submit "Log in", class: "btn btn-primary" %></td>
        </tr>
    <% end %>
    <tr>
<td>New user? <%= link_to "Sign up now!", new_user_path %></td>
</table>
