<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>

    <table align = 'center'>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Start at</th>
      <th>End at</th>
      <th></th>
      <th></th>
      <th></th>


      <% @tasks.each do |t|%>

        <tr>
          <td><%=link_to t.id,task_path(t.id)%></td>
          <td><%=link_to t.name,task_path(t.id)%></td>
          <td><%=t.description%></td>
          <td><%=t.start_time%></td>
          <td><%=t.end_time%></td>
          <%if t.user %>
            <td><%=t.user.name %></td>
          <%else%>
            <td>Nil</td>
          <%end%>
          <td><%= link_to "Edit", edit_task_path(t)%></td>
          <td><%= link_to "Delete", task_path(t), :method => :delete, data: {confirm:"Are you sure?"} %></td>
        </tr>
      <%end%>

    </table>
</body>
